.back-button {
  margin: 0;
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;

  @media (width < $breakpoint) {
    color: rgb(var(--color-white));
    background-color: rgb(var(--color-black) / 53%);
    backdrop-filter: blur(10px);
    border-radius: 50%;
  }

  @media (width >= $breakpoint) {
    background-color: transparent;
  }

  // __ICON
  &__icon {
    display: block;
    margin: auto;
  }
}
