extends template/_basic

block variables
  include pages/_pages-info
  -
    var page = 'index';

block more
  <link rel="stylesheet" href="styles/light.css" media="(prefers-color-scheme: light)">
  <link rel="stylesheet" href="styles/dark.css" media="(prefers-color-scheme: dark)">

block header
  include modules/header/_header

block content
  include pages/index/_index

block footer
  include modules/footer/_footer
