.header {
  display: block;
}

body {
  background: black;
  display: flex;
  flex-direction: column;
}

@media (width > 1440px) {
  body {
    background-color: #fff;
  }
}

@media (width > 1440px) {
  .header {
    background-color: #fff;
  }
}
