footer

  form(action="")
    label(for="search")
    input(type="text" placeholder="Search" id="search" inputmode="search")

  ul
    li
      a(href="")
        | Send feedback
    li
      a(href="")
        | Privacy
    li
      a(href="")
        | Terms
    li
      a(href="")
        | Help

    
    button(type="button").class
      include ../../../assets/images/icons/invite.svg
      | 1 invite code available